<div class="min-h-screen bg-slate-900 flex items-center justify-center p-4 font-sans">
  <div class="max-w-md w-full bg-white rounded-3xl shadow-2xl overflow-hidden">
   <div class="bg-linear-to-t from-[#8B0000] via-[#3a0202] to-[#1a0505] py-2 text-center text-white rounded-t-3xl shadow-2xl">
  <div class=" flex justify-center">
    <img src="icons/LogoGymSinFondo.png" alt="Logo" class="w-20 h-20 drop-shadow-[0_0_8px_rgba(255,255,255,0.2)]">
  </div>

  <h2 class="text-3xl font-black italic tracking-tighter uppercase">
    DRAKKAR<span class="text-white/40 ml-1">GYM</span>
  </h2>

  <p class="text-xs uppercase tracking-[0.3em] font-extrabold text-red-500/90 mt-3">
    ¡Bienvenido Guerrero!
  </p>
</div>

    <form (ngSubmit)="iniciarSesion()" class="p-8 space-y-6">
      <div>
        <label class="block text-xs font-bold text-slate-500 uppercase mb-2 ml-1">Correo Electrónico</label>
        <input type="email" name="email" [(ngModel)]="usuario.email" required
          class="w-full p-4 bg-slate-100 border-2 border-transparent focus:border-[#8B0000] rounded-2xl outline-none transition-all placeholder-slate-400"
          placeholder="ejemplo@gym.com">
      </div>

      <div class="relative">
        <label class="block text-xs font-bold text-slate-500 uppercase mb-2 ml-1">Contraseña</label>

        <input #passwordInput [type]="verPass ? 'text' : 'password'" name="password" [(ngModel)]="usuario.password"
          required
          class="w-full p-4 bg-slate-100 border-2 border-transparent focus:border-[#8B0000] rounded-2xl outline-none transition-all placeholder-slate-400 pr-12"
          placeholder="••••••••">

        <button type="button" (click)="verPass = !verPass; passwordInput.focus()"
          class="absolute right-4 top-[calc(50%-0.2rem)] text-slate-400 transition-colors focus:outline-none">
          <span class="text-xl">
            {{ verPass ? '🙉' : '🙈' }}
          </span>
        </button>
      </div>

      <button type="submit" [disabled]="cargando" (click)="iniciarSesion()"
        class="w-full bg-slate-900 text-white font-extrabold py-4 rounded-2xl hover:bg-orange-600 transform hover:scale-[1.02] transition-all shadow-lg active:scale-95 disabled:bg-slate-500 disabled:cursor-not-allowed flex justify-center items-center gap-2">

        @if (!cargando) {
        <span>INICIAR SESIÓN</span>
        } @else {
        <i class="fas fa-spinner animate-spin"></i>
        <span>DESPERTANDO GUERREROS...</span>
        }
      </button>

      <p class="text-center text-sm text-slate-500">
        ¿Eres nuevo? <a routerLink="/register" class="text-[#8B0000] font-bold hover:underline">Regístrate aquí</a>
      </p>
    </form>
  </div>
</div>