<div class="min-h-screen bg-slate-900 flex items-center justify-center p-4 font-sans">
  <div class="max-w-md w-full bg-white rounded-3xl shadow-2xl overflow-hidden">

    <div
      class="bg-linear-to-t from-[#8B0000] via-[#3a0202] to-[#1a0505] py-2 text-center text-white rounded-t-3xl shadow-2xl">
      <div class=" flex justify-center">
        <img src="icons/LogoGymSinFondo.png" alt="Logo" class="w-20 h-20 drop-shadow-[0_0_8px_rgba(255,255,255,0.2)]">
      </div>

      <h2 class="text-3xl font-black italic tracking-tighter uppercase">
        DRAKKAR<span class="text-white/40 ml-1">GYM</span>
      </h2>

      <p class="text-xs uppercase tracking-[0.3em] font-extrabold text-red-500/90 mt-3">
        ¡Crea tu cuenta!
      </p>
    </div>

    <form (ngSubmit)="registrar()" #registerForm="ngForm" class="p-8 space-y-4">

      <div>
        <label class="block text-xs font-bold text-slate-500 uppercase mb-1 ml-1">Nombre Completo</label>
        <input type="text" name="nombre" [(ngModel)]="nuevoUsuario.nombre" required
          class="w-full p-3 bg-slate-100 border-2 border-transparent focus:border-[#8B0000] rounded-xl outline-none transition-all"
          placeholder="Juan Pérez">
      </div>

      <div>
        <label class="block text-xs font-bold text-slate-500 uppercase mb-1 ml-1">Correo Electrónico</label>
        <input type="email" name="email" [(ngModel)]="nuevoUsuario.email" required
          class="w-full p-3 bg-slate-100 border-2 border-transparent focus:border-[#8B0000] rounded-xl outline-none transition-all"
          placeholder="correo@gym.com">
      </div>

      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">

        <div class="relative">
          <label class="block text-xs font-bold text-slate-500 uppercase mb-1 ml-1">Contraseña</label>
          <div class="relative">
            <input #passwordInput [type]="verPass ? 'text' : 'password'" name="password"
              [(ngModel)]="nuevoUsuario.password" required
              class="w-full p-3 bg-slate-100 border-2 border-transparent focus:border-[#8B0000] rounded-xl outline-none transition-all pr-12"
              placeholder="Min. 8 carac.">

            <button type="button" (click)="verPass = !verPass; passwordInput.focus()"
              class="absolute right-3 top-1/2 -translate-y-1/2 text-2xl focus:outline-none transition-transform active:scale-90">
              {{ verPass ? '🙉' : '🙈' }}
            </button>
          </div>
        </div>

        <div class="relative">
          <label class="block text-xs font-bold text-slate-500 uppercase mb-1 ml-1">Confirmar</label>
          <div class="relative">
            <input #confirmPasswordInput [type]="verConfirmPass ? 'text' : 'password'" name="confirmPassword"
              [(ngModel)]="nuevoUsuario.confirmPassword" required
              [class.border-red-500]="nuevoUsuario.confirmPassword && !contrasenasCoinciden()"
              class="w-full p-3 bg-slate-100 border-2 border-transparent focus:border-[#8B0000] rounded-xl outline-none transition-all pr-12"
              placeholder="Repetir...">

            <button type="button" (click)="verConfirmPass = !verConfirmPass; confirmPasswordInput.focus()"
              class="absolute right-3 top-1/2 -translate-y-1/2 text-2xl focus:outline-none transition-transform active:scale-90">
              {{ verConfirmPass ? '🙉' : '🙈' }}
            </button>
          </div>
        </div>

      </div>

      <div *ngIf="nuevoUsuario.confirmPassword && !contrasenasCoinciden()" class="bg-red-50 p-2 rounded-lg">
        <p class="text-red-500 text-[10px] font-bold italic text-center uppercase tracking-wider">
          ❌ Las contraseñas no coinciden
        </p>
      </div>

      <div *ngIf="nuevoUsuario.password && nuevoUsuario.password.length < 8" class="bg-amber-50 p-2 rounded-lg">
        <p class="text-amber-600 text-[10px] font-bold italic text-center uppercase tracking-wider">
          ⚠️ La contraseña es muy corta
        </p>
      </div>

      <button type="submit" [disabled]="!esFormularioValido()" [class.opacity-50]="!esFormularioValido()"
        class="w-full bg-slate-900 text-white font-extrabold py-4 rounded-2xl transform hover:scale-[1.02] transition-all shadow-lg active:scale-95 disabled:bg-slate-500 disabled:cursor-not-allowed flex justify-center items-center gap-2">
        CREAR CUENTA
      </button>

      <p class="text-center text-sm text-slate-500 mt-4">
        ¿Ya tienes cuenta? <a routerLink="/login"
          class="text-[#8B0000] font-bold hover:underline cursor-pointer">Inicia sesión</a>
      </p>
    </form>
  </div>
</div>