<p>socios works!</p>
<div class="bg-white rounded-3xl shadow-sm overflow-hidden border border-slate-200">

  <div class="p-6 border-b bg-slate-50">
    <h3 class="font-bold text-slate-800 uppercase text-xs tracking-widest">
      Gestión de Socios
    </h3>
  </div>

  <table class="w-full text-left border-collapse">
    <thead>
      <tr class="bg-slate-50 text-slate-400 text-[10px] uppercase font-bold">
        <th class="p-4">Nombre</th>
        <th class="p-4">Email</th>
        <th class="p-4">Vencimiento</th>
        <th class="p-4 text-center">Renovación</th>
      </tr>
    </thead>

    <tbody>
      @for (u of usuarios; track u._id) {
      <tr class="border-b hover:bg-slate-50">
        <td class="p-4 font-bold">{{ u.nombre }}</td>
        <td class="p-4 text-slate-500">{{ u.email }}</td>

        <td class="p-4">
          @if (u.fechaVencimiento) {
          <span [class]="esVencido(u.fechaVencimiento)
                      ? 'text-red-600'
                      : 'text-green-600'">
            {{ u.fechaVencimiento | date:'dd/MM/yyyy' }}
          </span>
          } @else {
          <span class="text-slate-400 italic text-xs">
            Sin membresía
          </span>
          }

        </td>

        <td class="p-4 text-center">
          <div class="flex gap-2 justify-center items-center">
            <button (click)="renovar(u._id, 7, u.nombre)" [disabled]="loadingId === u._id" class="cursor-pointer px-3 py-1 text-xs font-bold rounded-lg bg-blue-100 text-blue-700
         hover:bg-blue-200 transition-colors">
              +7
            </button>

            <button (click)="renovar(u._id, 15, u.nombre)" [disabled]="loadingId === u._id"
              class="cursor-pointer px-3 py-1 text-xs font-bold rounded-lg bg-purple-100
               text-purple-700 hover:bg-purple-200 transition-colors">
              +15
            </button>

            <button (click)="renovar(u._id, 30, u.nombre)" [disabled]="loadingId === u._id"
              class="cursor-pointer px-3 py-1 text-xs font-bold rounded-lg bg-emerald-100
               text-emerald-700 hover:bg-emerald-200 transition-colors">
              +30
            </button>
            @if (u.fechaVencimiento) {
            <button (click)="limpiarMembresia(u._id, u.nombre)"
              class="cursor-pointer ml-2 text-black-300 hover:text-red-500 transition-colors" title="Eliminar membresía por error">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg>
            </button>
            <button [routerLink]="['/admin/rutinas', u._id]" class="btn-rutina">
  🏋️ Asignar Rutina
</button>
            }
          </div>
        </td>
      </tr>
      } @empty {
      <tr>
        <td colspan="4" class="p-10 text-center text-slate-400">
          No hay usuarios registrados
        </td>
      </tr>
      }
    </tbody>
  </table>

</div>