<div class="container-rutinas">
  <header class="header">
  <div class="info-socio">
    <h2>Asignar Rutina a:</h2>
    
    <select [(ngModel)]="usuarioId" class="select-socio-moderno">
      <option value="" disabled>-- Selecciona un Socio --</option>
      @for (socio of listaSocios; track socio._id) {
        <option [value]="socio._id">
          {{ socio.nombre }} {{ socio.apellido }}
        </option>
      }
    </select>
    
    @if (usuarioId) {
      <span class="badge-id">ID: {{ usuarioId }}</span>
    }
  </div>

  <input [(ngModel)]="nombreRutina" 
         placeholder="Nombre de la rutina (ej: Lunes Explosivo)" 
         class="input-nombre">
</header>


  <div class="layout-creador">
    
    <section class="catalogo">
      <nav class="tabs">
        @for (cat of categorias; track cat) {
          <button (click)="filtrarPorCategoria(cat)" [class.active]="categoriaActiva === cat">
            {{ cat }}
          </button>
        }
      </nav>

      <div class="grid-ejercicios">
        @for (ej of ejerciciosVisibles; track ej.nombre) {
          <div class="card-ejercicio">
            <img [src]="ej.imagenUrl" [alt]="ej.nombre">
            <div class="card-info">
              <h4>{{ ej.nombre }}</h4>
              <button (click)="agregarA_Rutina(ej)" class="btn-add">+</button>
            </div>
          </div>
        }
      </div>
    </section>

    <section class="lista-final">
      <h3>Rutina Seleccionada ({{ rutinaParaSocio.length }})</h3>
      
      <div class="scroll-area">
        @for (item of rutinaParaSocio; track $index) {
          <div class="item-seleccionado">
            <img [src]="item.imagenUrl" class="mini-img">
            <div class="item-detalles">
              <p>{{ item.nombre }}</p>
              <div class="inputs-mini">
                <input [(ngModel)]="item.series" type="number" placeholder="Ser">
                <input [(ngModel)]="item.repeticiones" placeholder="Reps">
              </div>
            </div>
            <button (click)="quitarDeRutina($index)" class="btn-del">✕</button>
          </div>
        } @empty {
          <div class="empty-state">
            <p>Haz clic en los ejercicios de la izquierda para empezar</p>
          </div>
        }
      </div>

      <button (click)="guardarRutina()" class="btn-guardar" [disabled]="rutinaParaSocio.length === 0">
        GUARDAR Y ENVIAR AL SOCIO
      </button>
    </section>

  </div>
</div>