.sub-nav {
  display: flex;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid #eee;
  gap: 40px;
}

.nav-item {
  text-decoration: none;
  color: #666;
  padding: 15px 5px;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav-item:hover {
  color: #ff4500;
}

/* Esta clase se activa sola gracias a routerLinkActive */
.active {
  color: #ff4500 !important;
  border-bottom: 3px solid #ff4500 !important;
  font-weight: bold;
}